.login-container{
    position: relative;
}


.login-container::before {
    content: url('../public/img/jellyfish.svg');
    position: absolute;
    z-index: 2;
    left: -130px;
    top: 40px;
    rotate: -30deg;
}