.bmBurgerButton {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bmBurgerBars {
    background: #373a47;
}

.bmBurgerBarsHover {
    background: #a90000;
}

.bmCrossButton {
    height: 24px;
    width: 24px;
}

.bmCross {
    background: #bdc3c7;
}

.bmMenuWrap {
    position: fixed;
    height: 100%;
}

.bmMenu {
    background: #373a47;
    padding: 2.5em 1.5em 0 0.5em;
    font-size: 1.15em;
    white-space: inherit;
}

.bmMorphShape {
    fill: #373a47;
}

.bmItemList {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bmItem {
    display: inline-block;
}

.bmOverlay {
    background: rgba(0, 0, 0, 0.3);
}